<%- include('../../partials/header'); -%>

<div class="container-fluid container-activity">
    <div class="row">

        <nav class="box-sidebar col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item ">
                        <a class="text-sidebar nav-link " href="/projects/overview/<%= url %>">
                            <span data-feather="shopping-cart"></span>
                            Overview
                        </a>
                    </li>
                    <li class="nav-item active-custom">
                        <a class=" text-sidebar nav-link" href="/projects/activity/<%= url %>">
                            <span data-feather="users"></span>
                            Activity
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class=" text-sidebar nav-link" href="/projects/members/<%= url %>">
                            <span data-feather="bar-chart-2"></span>
                            Members
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class=" text-sidebar nav-link" href="/projects/issues/<%= url %>">
                            <span data-feather="layers"></span>
                            Issue
                        </a>
                    </li>
                </ul>



            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="content ">
                <h1 class="activity-card" ;" >Log Activity</h1>
                <h4 class="title-activity">#<%= projectid %> <%=project.name%></h4>
                <hr class="title-hr">
                
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            <br>
                      <%  activities.forEach(activity=>{ %>
                        <% const{description,author,timeactivity,dateactivity,title,previousdone, currentdone}=activity %>
                      
                            <div class="card">
                                <div class="card-header text-center bg-primary">
                                    <h5><%=dateactivity%></h5>
                                </div>
    
                                <div class="card-body">
                                    <h5 class="card-title"><%=title%></h5>
                                    <p class="card-text"><%= description%></p>
        
                                    <p>Done (%): from <strong><%=previousdone%>%</strong> updated to <strong><%= currentdone%> %</strong></p>
                                    <div class="progress">
                                      <%  if(currentdone==previousdone){ %>
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                            style="width:<%=Number(previousdone)%>%" aria-valuenow="<%= Number(previousdone)%>" aria-valuemin="0" aria-valuemax="100">
                                           <%= `${previousdone} (No Change)` %></div>

                                     <% }else{ %>
                                        <% const subtractDone=Number(currentdone)-Number(previousdone) %>
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                        style="width:<%=Number(previousdone)%>%" aria-valuenow="<%= Number(previousdone)%>" aria-valuemin="0" aria-valuemax="100">
                                        <%= previousdone %> %</div>
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                        style="width: <%= subtractDone%>%" aria-valuenow="<%= subtractDone%>%" aria-valuemin="0" aria-valuemax="100">
                                        <%= subtractDone%>% </div>
                                      <%}%>
                                       
                                    </div>
                                    <br>
                                    <h5 style="text-align: center;">Author : <%=author %>
                                    <br>
                                        <span class="badge badge-info"><%=timeactivity %> WIB</span></h5>
                                </div>
                               
        
                            </div>
                          
                            <% }) %>
                          
        
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<%- include('../../partials/footer'); -%>