<%- include('../partials/header'); -%>

<section id="filter">
  <h1 class="title">USERS</h1>

  <div class="container container-card">
    <div class="card card-filter mx-auto">
      <h5 class="card-header card-header-filter">
        <div class="title-filter">
          <h5>Filter</h5>
        </div>
        
        <div class="card-body ">
          <form class="form-filter" method="GET">
            <!-- id -->
            <div class="form-group row">
              <label for="idUser" class="col-sm-2 col-form-label"><input type="checkbox" name="checkboxIdUser"
                  class="form-check-input" />ID</label>
              <div class="col-sm-8">
                <input type="text" id="idUser" name="idUser" class="form-control" placeholder="ID">
              </div>
            </div>

            <!-- name -->
            <div class="form-group row">
              <label for="nameUser" class="col-sm-2 col-form-label"><input type="checkbox" name="checkboxNameUser"
                  class="form-check-input" />Name</label>
              <div class="col-sm-8">
                <input type="text" id="nameUser" name="nameUser" class="form-control" placeholder="Name">
              </div>
            </div>

            <!-- email -->
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label"><input type="checkbox" name="checkboxEmail"
                  class="form-check-input" />Email</label>
              <div class="col-sm-8">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <!-- position -->
            <div class="form-group row">
              <label for="position" class="col-sm-2 col-form-label"><input type="checkbox" name="checkboxPosition"
                  class="form-check-input" />Position</label>
              <div class="col-sm-8">
                <select name="position" class="custom-select" id="position">
                  <option selected>Choose position</option>
                  <option value="Software Developer">Software Developer</option>
                  <option value="Manager">Manager</option>
                  <option value="Quality Assurance">Quality Assurance</option>
                </select>
              </div>
            </div>
            <!-- typejob -->
            <div class="form-group row">
              <label for="typeJob" class="col-sm-2 col-form-label"><input type="checkbox" name="checkboxTypeJob"
                  class="form-check-input" />Type job</label>
              <div class="col-sm-10 radios">
                <div class="form-check container-cbx">
                  <input class="form-check-input cbx-add " type="radio" name="typeJob" value="Fulltime">
                  <label class="form-check-label label-add" for="gridCheck1">
                    Fulltime
                  </label>
                </div>

                <div class="form-check container-cbx">
                  <input class="form-check-input cbx-add " type="radio" name="typeJob" value="Part-time">
                  <label class="form-check-label label-add" for="gridCheck1">
                    Part-time
                  </label>
                </div>
            </div>
          </div>
          

    <!-- button -->
    <div class="form-group row container-search">
      <button type="submit" name="fiturBrowserUser" value="yes" class=" btn btn-success btn-lg btn-search">Search</button>
    </div>
  </form>
  </div>

</section>


<section id="optional" >
  <form  method="POST" >
    <div class="container container-optional user-card">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-lg btn-success btn-title" type="button">Option</button>
        </div>
        
        <br>
        <br>
        <% const{ checkboxIdUser, checkboxNameUser, checkboxEmail,checkboxPosition, checkboxTypeJob,checkboxStatus}=optionCheckBox %>
    </div>

      <div class="row">
        <div class="col-sm-12">
          <label class=" col-form-label"><input type="checkbox" name="checkboxId" <%= checkboxIdUser ? "checked" : " "%>/>ID</label>
        </div>
        <div class="col-sm-12">
          <label class=" col-form-label"><input type="checkbox" name="checkboxName"<%= checkboxNameUser ? "checked" : " "%>/>Name</label>
        </div>
        <div class="col-sm-12">
          <label class=" col-form-label"><input type="checkbox" name="checkboxEmail" <%= checkboxEmail ? "checked" : " "%> />Email</label>
        </div>
        <div class="col-sm-12">
          <label class=" col-form-label"><input type="checkbox" name="checkboxPosition" <%= checkboxPosition ? "checked" : " "%>/>Position</label>
        </div>
        <div class="col-sm-12">
          <label class=" col-form-label"><input type="checkbox" name="checkboxTypeJob" <%= checkboxTypeJob ? "checked" : " "%> />Type</label>
        </div>
        <div class="col-sm-12">
          <label class=" col-form-label"><input type="checkbox" name="checkboxStatus" <%= checkboxStatus ? "checked" : " "%> />Status</label>
        </div>
        
        <div class="col-sm-12">
          <button type="submit" name="optionUser" value="clicked"
            class="btn-apply btn btn-primary btn-optional">Apply</button>
        </div>

      </div>
    </div>
  </form>
</section>


<section id="table-pagi-user" >

  <div class="container">
    <div class="card card-tables mx-auto">
      <h5 class="card-header">
        <div class="title-filter">
          <h5 class="pagi">LIST</h5>
        </div>
        <div class="card-body">
          <form class="form-add" method="POST">
            <table class="table table-striped" style="font-size: 1rem;">
              <thead>
                <tr>
                  <th scope="col" <%= checkboxIdUser ? " " : "hidden"%>>ID</th>
                  <th scope="col" <%= checkboxNameUser ? " " : "hidden"%>>Name</th>
                  <th scope="col" <%= checkboxEmail ? " " : "hidden"%>>Email</th>
                  <th scope="col" <%= checkboxPosition ? " " : "hidden"%>>Position</th> 
                  <th scope="col" <%= checkboxTypeJob ? " " : "hidden"%>>Type job</th>
                  <th scope="col" <%= checkboxStatus ? " " : "hidden"%>>Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>

                <%data.forEach(e=>{ %>
                  <% const{userid,email,fullname,status,worktype,role}=e%>
                <tr>
                  <th scope="row" <%= checkboxIdUser ? " " : "hidden"%>> <%=userid%></th>
                  <td <%= checkboxNameUser ? " " : "hidden"%>> <%=fullname%></td>
                  <td <%= checkboxEmail ? " " : "hidden"%>> <%=email%></td>
                  <td <%= checkboxPosition ? " " : "hidden"%>> <%=role%></td>
                  <td <%= checkboxTypeJob ? " " : "hidden"%>> <%=worktype%></td>
                  <td <%= checkboxStatus ? " " : "hidden"%>><%=status%></td>
                  <td>
                    <a href="users/edit/<%=userid%>" name='button-edit' value='ok'
                      class="btn btn-success btn-sm">Edit</a>
                    <button class=" btn btn-danger btn-sm" type="submit" name="delUser" value="<%=userid%>">Delete
                    </button>

                  </td>
                </tr>

                <%})%>
              </tbody>
            </table>
          </form>
        </div>
    </div>
  </div>
</section>

<section id="paginations">
  <form action="" method="GET">
    <div class="container container-pagi">
      <nav aria-label="Page navigation ">
        <ul class="pagination">

          <% if(currentPage==1) { %>
          <li class="page-item  disabled">
            <button type="submit" name="<%= nameOfPage %>" value="<%= Number(currentPage)-1 %>"
              class="page-link ">Previous</button>
          </li>
          <% }else{ %>
          <li class="page-item">
            <button type="submit" name="<%= nameOfPage %>" value="<%= Number(currentPage)-1 %>"
              class="page-link ">Previous</button>
          </li>
          <%}%>

            <% for(let index=1; index<= totalPage;index++){ %>

          <%  if(currentPage == index){ %>
          <li class="page-item active">
            <button type="submit" name="<%= nameOfPage %>" value="<%= index %>"
              class="page-link "><%= index %></button>
          </li>
          <% } else { %>
          <li class="page-item">
            <button type="submit" name="<%= nameOfPage %>" value="<%= index %>"
              class="page-link "><%= index %></button>
          </li>
          <% } %>

          <% } %>
          <% if(currentPage == totalPage){ %>
          <li class="page-item  disabled">
            <button type="submit" name="<%= nameOfPage %>" value="<%= Number(currentPage)+1 %>"
              class="page-link ">Next</button>

          </li>
          <% } else { %>
          <li class="page-item">
            <button type="submit" name="<%= nameOfPage %>" value="<%= Number(currentPage)+1 %>"
              class="page-link ">Next</button>

          </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </form>

</section>

<a href="users/add" name="search" value="clicked" class=" btn btn-success btn-lg btn-projects-add change-search">
  Add</a>


<%- include('../partials/footer'); -%>